:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: olivedrab;
  color: rgba(0, 0, 0, .6);
}

.container {
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(180, 213, 115);
  box-shadow: 0px 2px 2px;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  padding: 15px 0;
  font-weight: bold;
}

.raw{
    margin: 10px 0;
}

.block-item {
  margin-bottom: 30px;
}

.input {
  width: 60px;
  padding: 2px 5px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, .6);
  background-color: transparent;
  color: inherit;
}

.input:focus {
  outline: none;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}

.style-block{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.select-item{
    width: 100px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(133, 232, 143);
    border-color: rgb(44, 235, 64);
}
.select-item:focus{
    box-shadow: 0px 0px 4px 4px rgba(44, 235, 64, .6);
    outline: none;
}
.btn{
  background-color: rgb(216, 177, 105);
}