<div class="wrapper">
    <form #form="ngForm" (change)="setChanges(form.value)">
        <fieldset class="indent flex">
            <legend>Розмір шрифту</legend>
            <div class="item">
                <input type="radio" name="size" value="12" id="12" ngModel="{{size}}">
                <label for="12">12 px</label>
            </div>
            <div class="item">
                <input type="radio" name="size" value="14" id="14" ngModel="{{size}}">
                <label for="14">14 px</label>
            </div>
            <div class="item">
                <input type="radio" name="size" value="16" id="16" ngModel="{{size}}">
                <label for="16">16 px</label>
            </div>
            <div class="item">
                <input type="radio" name="size" value="18" id="18" ngModel="{{size}}">
                <label for="18">18 px</label>
            </div>
            <div class="item">
                <input type="radio" name="size" value="20" id="20" ngModel="{{size}}">
                <label for="20">20 px</label>
            </div>
            <div class="item">
                <input type="radio" name="size" value="22" id="22" ngModel="{{size}}">
                <label for="22">22 px</label>
            </div>
            <div class="item">
                <input type="radio" name="size" value="24" id="24" ngModel="{{size}}">
                <label for="24">24 px</label>
            </div>
        </fieldset>
        <fieldset class="indent flex">
            <legend>Шрифт</legend>
            <select name="font" ngModel="{{font}}">
                <option value="" disabled selected>Select font</option>
                <option value="Arial">Arial</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Lucida Console">Lucida Console</option>
                <option value="Georgia">Georgia</option>
                <option value="Sylfaen">Sylfaen</option>
                <option value="Verdana">Verdana</option>
                <option value="Tahoma">Tahoma</option>
            </select>
        </fieldset>
        <fieldset class="indent flex">
            <legend>Колір</legend>
            <span>Background</span>
            <app-select-color [inputStyles]="colorStyles" [currentColor]="bgColor" (changeColor)="setBgColor($event)"></app-select-color>
            <span>Color</span>
            <app-select-color [inputStyles]="colorStyles" [currentColor]="color"
            (changeColor)="setColor($event)"
            [inputColorsList]="tableColorsList"></app-select-color>
        </fieldset>
        <fieldset class="indent flex">
            <legend>Стилі тексту</legend>
            <div class="item">
                <input class="" type="checkbox" name="bold" id="bold" ngModel="{{bold}}">
                <label for="bold" class="">Жирний</label>
            </div>
            <div class="item">
                <input class="" type="checkbox" name="italic" id="italic" ngModel="{{italic}}">
                <label for="italic" class="">Курсив</label>
            </div>
            <div class="item">
                <input class="" type="checkbox" name="underline" id="sub" ngModel="{{underline}}">
                <label for="sub" class="">Підкреслений</label>
            </div>
        </fieldset>
    </form>
</div>