.hint{
    width: 150px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6D6F7E;
    word-wrap: break-word;
    color: white;
    position: relative;
}
.hint::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #6D6F7E;
    position: absolute;
    bottom: -10px;
    left: 20px;
}