<div class="text-block">
        <div class="text"
            [innerHTML]="text" id="box"
            [style.fontSize.px]="styles.size"
            [style.fontFamily]="styles.font"
            [style.color]="styles.color"
            [style.fontWeight]="styles.bold ? 'bold' : 'normal'"
            [style.fontStyle]="styles.italic ? 'italic' : 'normal'"
            [style.backgroundColor]="styles.bgColor"
            [style.textDecoration]="styles.underline ? 'underline' : 'none'">
        </div>
</div>